<clr-modal [(clrModalOpen)]="!enabled" [clrModalClosable]="false" [clrModalStaticBackdrop]="false"
    [clrModalSize]="'xl'">
    <h3 class="modal-title">THE END</h3>
    <div class="modal-body">
        <p>Thank you for playing!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="reset()">はじめから</button>
    </div>
</clr-modal>
<div class="clr-row">
    <div class="clr-col-4">
        <svg [attr.width]="width" [attr.height]="height">
            <rect *ngFor="let c of visualCells" [attr.x]="c.x" [attr.y]="c.y" [attr.width]="c.width"
                [attr.height]="c.height" rx="8" ry="8" [ngClass]="c.label ? c.label : 'default'">
            </rect>
        </svg>
    </div>
    <div class="clr-col-4">
        <h2>Pods</h2>
        <table class="table" *ngIf="pods">
            <thead>
                <tr>
                    <th class="left">Pod名</th>
                    <th class="left">ステータス</th>
                    <th class="left">ラベル</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of pods">
                    <td class="left">{{i.metadata.name}}</td>
                    <td class="left">{{i.status.phase}}</td>
                    <td class="left">
                        <span [ngClass]="['label', i.metadata.labels['app']]">{{i.metadata.labels['app']}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>