/* You can add global styles to this file, and also import other style files */
rect { 
    fill: #919FA8;
}
rect.go-vmw-license-status{
    fill: #85C81A;
}
.go-vmw-license-status{
    border-color:#85C81A;
}
.go-vmw-license-status > .badge{
    background-color:#85C81A;
    color: #000;
}
rect.java-vmw-ranking-api{
    fill: #48960C;
}
.java-vmw-ranking-api{
    border-color: #48960C;
}
.java-vmw-ranking-api > .badge{
    background-color: #48960C;
    color: #FFF;
}
rect.dotnet-vmw-api-gateway{
    fill:#0095D3;
}
.dotnet-vmw-api-gateway{
    border-color: #0095D3;
}
.java-vmw-ranking-api > .badge{
    background-color: #0095D3;
    color: #FFF;
}
rect.puzzle-example{
    fill: #004D8A;
}
.puzzle-example{
    border-color: #004D8A;
}
.puzzle-example > .badge{
    background-color: #004D8A;
    color: #FFF;
}